body
{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #06c9ff;
    max-width: 1000px;
    min-height: 100vh;
    font-family: "Playfair Display", serif;
    color: #0000005d;
}

h1
{
    color: #00042bcc;
}
h2
{
    color: #000000;
}