body
{
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    font-family: "Playfair Display", serif;
    color: #0000005d;
    text-align: center;
}
header
{
    margin: 20px;
    padding: 20px;
    background-color: #06c9ff25;
}

main
{
    margin: 30px;
    padding: 30px;
    background-color: #06c9ff39;
}

h1
{
    color: #00042bcc;
}
h2
{
    color: #000000;
}