body
{
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    font-family: "Playfair Display", serif;
    color: #0000005d;
    text-align: center;
    background-color: #06c9ff1f;
}
header
{
    margin: 35px;
    padding: 35px;
    background-color: #06c9ff39;
}

main
{
    margin: 15px;
    padding: 15px;
    background-color: #06c9ff25;
}

h1
{
    color: #00042bcc;
}
h2
{
    color: #000000;
}